/* Reset and basic styles */
:root{
  --main:#333;
  --sec:white;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f0f0f0;
}
nav,footer {
  background-color: var(--main);
  color: var(--sec);
  padding: 10px 0;
  text-align: center;
}
.menu{
  display: none;
}
@media screen and (max-width: 430px){
  .default,
  .menu ul{
    display: none;
  }
  .menu{
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    padding: 10px;
    margin-top: 18px;
    cursor: pointer;
    background-color: var(--main);
  }
  .menu:hover{
    i{
      display: none;
    }
    ul{
      display: flex;
      flex-direction: column;

    }
  }
}
nav h1,
.section h2,
aside h3 {
  font-size: 2rem;
}

 ul li {
  display: inline-block;
 margin:  10px 0px 0 20px;
}
 ul li a {
  color: var(--sec);
  text-decoration: none;
  font-size: 1.2rem;
}
.section {
  max-width: 1200px;
  margin: 0 auto;
    padding: 40px 20px;
  text-align: center;
}
.section h2,aside h3 { 
  margin-bottom: 20px;
} 
.section p {
  font-size: 1.1rem;
  line-height: 1.8;
}
.services-grid {
 display: flex;
 flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
aside,.contact-form {
  max-width: 373px;
  background-color: var(--sec);
  padding: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  text-align: left;
}
aside h3 {
  font-size: 1.5rem;
}
form {
  text-align: center;
  max-width: 600px;
  margin: 0 auto 50px;
}
form label {
  display: block;
}
form input,
form textarea {
  width: 100%;
  padding: 8px;
  margin:  10px  0 5px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.bt {
  background-color: var(--main);
  color: var(--sec);
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  text-decoration: none;
}
/* #scroll{
  display: none;
} */
#scroll{
  position: fixed;
  right: 0;
  top: 50%;
}
.bt:hover {
  background-color: #555;
}
footer {
  position: fixed;
  width: 100%;
  bottom: 0;
}
.foot-form{
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  margin: 0 auto;
}
.foot-form input{
  width: 70%;
  outline-style: none;
}
.foot-form button{
  margin: 5px 0 0 -109px ;
  border-radius: 4px;
  padding: 8px 20px;
}